In [1]:
import pandas as pd
import pfr

In [2]:
url_template = "https://www.pro-football-reference.com/play-index/psl_finder."\
               "cgi?request=1&match=combined&year_min=2000&year_max=2017&seas"\
               "on_start=1&season_end=4&pos%5B%5D=qb&pos%5B%5D=rb&pos%5B%5D=wr"\
               "&pos%5B%5D=te&pos%5B%5D=e&pos%5B%5D=t&pos%5B%5D=g&pos%5B%5D=c&"\
               "pos%5B%5D=ol&pos%5B%5D=dt&pos%5B%5D=de&pos%5B%5D=dl&pos%5B%5D="\
               "ilb&pos%5B%5D=olb&pos%5B%5D=lb&pos%5B%5D=cb&pos%5B%5D=s&pos%5B"\
               "%5D=db&pos%5B%5D=k&pos%5B%5D=p&draft_year_min=1936&draft_year_"\
               "max=2017&draft_slot_min=1&draft_slot_max=500&draft_pick_in_"\
               "round=pick_overall&conference=any&draft_pos%5B%5D=qb&draft_pos"\
               "%5B%5D=rb&draft_pos%5B%5D=wr&draft_pos%5B%5D=te&draft_pos%5B%5"\
               "D=e&draft_pos%5B%5D=t&draft_pos%5B%5D=g&draft_pos%5B%5D=c&"\
               "draft_pos%5B%5D=ol&draft_pos%5B%5D=dt&draft_pos%5B%5D=de&draft"\
               "_pos%5B%5D=dl&draft_pos%5B%5D=ilb&draft_pos%5B%5D=olb&"\
               "draft_pos%5B%5D=lb&draft_pos%5B%5D=cb&draft_pos%5B%5D=s&"\
               "draft_pos%5B%5D=db&draft_pos%5B%5D=k&draft_pos%5B%5D=p&c5val="\
               "1.0&order_by=av&offset={}"

In [3]:
row_css_selector = "#results > tbody > tr" 
col_css_selector = "#results > thead > tr:nth-child(2) > th"
dfs = []
errors = []
# i's represent page offset values
for i in range (0, 8001, 100):
    url = url_template.format(i)
    try:
        df = pfr.get_table(url, row_css_selector, col_css_selector, 1)
        dfs.append(df)
        print("Scraped:", i)
    except Exception as e:
        errors.append([url, e])
        print("ERROR:", i)

Scraped: 0
Scraped: 100
Scraped: 200
Scraped: 300
Scraped: 400
Scraped: 500
Scraped: 600
Scraped: 700
Scraped: 800
Scraped: 900
Scraped: 1000
Scraped: 1100
Scraped: 1200
Scraped: 1300
Scraped: 1400
Scraped: 1500
Scraped: 1600
Scraped: 1700
Scraped: 1800
Scraped: 1900
Scraped: 2000
Scraped: 2100
Scraped: 2200
Scraped: 2300
Scraped: 2400
Scraped: 2500
Scraped: 2600
Scraped: 2700
Scraped: 2800
Scraped: 2900
Scraped: 3000
Scraped: 3100
Scraped: 3200
Scraped: 3300
Scraped: 3400
Scraped: 3500
Scraped: 3600
Scraped: 3700
Scraped: 3800
Scraped: 3900
Scraped: 4000
Scraped: 4100
Scraped: 4200
Scraped: 4300
Scraped: 4400
Scraped: 4500
Scraped: 4600
Scraped: 4700
Scraped: 4800
Scraped: 4900
Scraped: 5000
Scraped: 5100
Scraped: 5200
Scraped: 5300
Scraped: 5400
Scraped: 5500
Scraped: 5600
Scraped: 5700
Scraped: 5800
Scraped: 5900
Scraped: 6000
Scraped: 6100
Scraped: 6200
Scraped: 6300
Scraped: 6400
Scraped: 6500
Scraped: 6600
Scraped: 6700
Scraped: 6800
Scraped: 6900
Scraped: 7000
Scraped: 7100
Scraped: 7200
Scraped: 7300
Scraped: 7400
Scraped: 7500
Scraped: 7600
Scraped: 7700
Scraped: 7800
Scraped: 7900
Scraped: 8000

In [4]:
len(dfs)

81

In [5]:
len(errors)

0

In [6]:
df = pd.concat(dfs, ignore_index=True)

In [7]:
df.head()

,Rk,Player,From,To,Draft,Tm,Lg,G,GS,Yrs,PB,AP1,AV
0,1,"(Russell Wilson, WilsRu00)",2012,2015,3-75,SEA,NFL,64,64,4,3,0,70
1,2,"(J.J. Watt, WattJ.00)",2011,2014,1-11,HTX,NFL,64,64,4,3,3,67
2,3,"(Cam Newton, NewtCa00)",2011,2014,1-1,CAR,NFL,62,62,4,2,0,63
3,4,"(Patrick Willis, WillPa98)",2007,2010,1-11,SFO,NFL,63,63,4,4,3,63
4,5,"(LaDainian Tomlinson*, TomlLa00)",2001,2004,1-5,SDG,NFL,63,63,4,2,1,62

In [8]:
df.tail()

,Rk,Player,From,To,Draft,Tm,Lg,G,GS,Yrs,PB,AP1,AV
8052,8053,"(Chris Young, YounCh03)",2014,2014,,NYJ,NFL,0,,1,0,0,
8053,8054,"(Michael Zimmer, ZimmMi00)",2014,2014,,SEA,NFL,0,,1,0,0,
8054,8055,"(Ty Zimmerman, ZimmTy00)",2014,2014,,NOR,NFL,0,,1,0,0,
8055,8056,"(Michael Zordich, ZordMi01)",2014,2014,,NOR,NFL,0,,1,0,0,
8056,8057,"(Jordan Zumwalt, ZumwJo00)",2014,2014,6-192,PIT,NFL,0,,1,0,0,

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8057 entries, 0 to 8056
Data columns (total 13 columns):
Rk        8057 non-null object
Player    8057 non-null object
From      8057 non-null object
To        8057 non-null object
Draft     8057 non-null object
Tm        8057 non-null object
Lg        8057 non-null object
G         8057 non-null object
GS        8057 non-null object
Yrs       8057 non-null object
PB        8057 non-null object
AP1       8057 non-null object
AV        8057 non-null object
dtypes: object(13)
memory usage: 818.4+ KB

In [10]:
df[["Player", "Pfr_ID"]] = df.Player.apply(pd.Series)

In [11]:
df.head()

,Rk,Player,From,To,Draft,Tm,Lg,G,GS,Yrs,PB,AP1,AV,Pfr_ID
0,1,Russell Wilson,2012,2015,3-75,SEA,NFL,64,64,4,3,0,70,WilsRu00
1,2,J.J. Watt,2011,2014,1-11,HTX,NFL,64,64,4,3,3,67,WattJ.00
2,3,Cam Newton,2011,2014,1-1,CAR,NFL,62,62,4,2,0,63,NewtCa00
3,4,Patrick Willis,2007,2010,1-11,SFO,NFL,63,63,4,4,3,63,WillPa98
4,5,LaDainian Tomlinson*,2001,2004,1-5,SDG,NFL,63,63,4,2,1,62,TomlLa00

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8057 entries, 0 to 8056
Data columns (total 14 columns):
Rk        8057 non-null object
Player    8057 non-null object
From      8057 non-null object
To        8057 non-null object
Draft     8057 non-null object
Tm        8057 non-null object
Lg        8057 non-null object
G         8057 non-null object
GS        8057 non-null object
Yrs       8057 non-null object
PB        8057 non-null object
AP1       8057 non-null object
AV        8057 non-null object
Pfr_ID    8057 non-null object
dtypes: object(14)
memory usage: 881.3+ KB

In [14]:
df.to_csv("raw_data/first_4_season_AV_since_2000.csv", index=False)